/* App.css */
body {
  background-color: #131313; /* Fondo negro para toda la página */
  color: white; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente */
  margin: 0; /* Sin margen por defecto */
  padding: 0; /* Sin padding por defecto */
}
