/* Title.css */
.title {
    color: white; /* Color del texto */
    font-size: 2rem; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
    margin: 20px 0; /* Espaciado arriba y abajo */
}
